body {
  background-color: #141414;
  color: #fff;
}

.movie-app > .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.images-container {
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.images-container:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.images-container:hover .overlay {
  opacity: 1;
  transition: 0.4s ease;
  cursor: pointer;
}
